body {
    font-family: 'Raleway', sans-serif;
}

.texto {
    font-family: 'Raleway', sans-serif;
}

.cabecario {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    list-style-type: none;
    background-color: whitesmoke;
    display: block;
    text-align: initial;
}

.cabecario ul {
    position: fixed;
    display: inline-block;
    background-color:whitesmoke;
    width: 100vw;    
    text-align: left;
}

.cabecario li {
    float: left;
}

#inicio {
    margin-top: 55px;
    max-width: 100%;
    height: auto;
}

.c1 {
    float: left;
    margin: 20px;
    color: black;
    text-decoration: none;

}

.c1:hover {
    color: #BC9077;
}

.c2 {
    float: left;
    margin: 20px;
    color: black;
    text-decoration: none;
}

.c2:hover {
    color: #BC9077;
}

.c3 {
    float: left;
    margin: 20px;
    color: black;
    text-decoration: none;
}

.c3:hover {
    color: #BC9077;
}

.c4 {
    float: left;
    margin: 20px;
    color: black;
    text-decoration: none;
}

.c4:hover {
    color: #BC9077;
}

.subtitulo h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    margin: 0px;
    font-weight: 700;
}

.subtitulo p {
    font-family: 'Raleway', sans-serif;
    font-size: 1,5vw;
    margin-left: 20px;
    margin-bottom: 5px;
}

.caixa1 {
    float: left;
    width: 8.333%;
    background-color: #F75940;
    height: auto;
} 

.caixa2 {
    float: left;
    width: 16.666%;
    background-color: rgb(221, 153, 114);
    height: auto;
}

.caixa3 {
    float: left;
    width: 25%;
    background-color: rgb(221, 187, 114);
    height: auto;
}

.caixa4 {
    float: left;
    width: 33.333%;
    background-color: rgb(221, 210, 114);
    height: auto;
    text-align: center;
}

.caixa4 img {
    max-width: 300px;
}

.caixa5 {
    float: left;
    width: 41.666%;
    background-color: rgb(205, 221, 114);
    height: auto;
}
.caixa6 {
    float: left;
    width: 50%;
    background-color: #FFBFC7;
    height: auto;
}

.caixa6 h2 {
    background-color: #C7828A;
    text-align: center;
}

.caixa6 h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 2vw;
    margin: 0px;
    font-weight: 700;
    background-color: #DE85BC;
    text-align: center;
}


.caixa7 {
    float: left;
    width: 58.333%;
    background-color: rgb(144, 221, 114);
    height: auto;
}
.caixa8 { 
    float: left;
    width: 66.666%;
    background-color: rgb(114, 221, 137);
    height: auto;
}

.caixa9 {
    float: left;
    width: 75%;
    background-color: rgb(114, 221, 194);
    height: auto;
}

.caixa10 {
    float: left;
    width: 83.333%;
    background-color: rgb(114, 178, 221);
    height: auto;
}

.caixa11 {
    float: left;
    width: 91.666%;
    background-color: rgb(169, 114, 221);
    height: auto;
}
.caixa12 {
    float: left;
    width: 100%;
    background-color: rgb(212, 114, 221);
    height: auto;
}

img {
    width: 100%;
    height: auto;
}

.ouca {
    border-top: solid;
    border-width: thin;
    border-color: #BC9077;
}

.paragrafof {
    font-family: 'Raleway', sans-serif;
    margin: 20px;
    margin-left: 30vw;
    margin-right: 30vw;
}


.imgs2 {
    width: 200px;
}





.icone {
    margin: 0px;
    color: whitesmoke;
    text-decoration: none;
    font-size: 2em;
}

.icone:hover {
    color: black;
}